

Fortran*/*.o
*.*~
*.svg
umac
*.pyc
i686
x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*.dat

neuroConstruct/cellMechanisms/Syn_*
neuroConstruct/savedNetworks


neuroConstruct/pythonScripts/testFiles/nrntraub
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/batchdata
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/dat
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/_nrn_tests
.DS_Store

neuroConstruct/generatedNeuroML2/LEMS_Test*
neuroConstruct/generatedNeuroML2/*.dat
neuroConstruct/generatedNeuroML2/html
/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/*.mod
/neuroConstruct/generatedNeuroML2/*.hoc
/neuroConstruct/generatedNeuroML2/*.props
/neuroConstruct/generatedNeuroML2/*nrn.py
/neuroConstruct/generatedNeuroML2/LEMS_Net3D.xml
/neuroConstruct/generatedNeuroML2/Net3D.net.nml

/NeuroML2/*-*
/NeuroML2/*_*


/NeuroML2/pythonScripts/*.json
/NeuroML2/pythonScripts/*.mod
/NeuroML2/pythonScripts/*.hoc
/NeuroML2/pythonScripts/*.props
/NeuroML2/pythonScripts/*nrn.py
/NeuroML2/pythonScripts/*.xml
/NeuroML2/pythonScripts/*.nml
/NeuroML2/Test/
/NeuroML2/pythonScripts/netbuild/*
!/NeuroML2/pythonScripts/netbuild/*.py
/NeuroML2/pythonScripts/netbuild/*_nrn.py
/NeuroML2/pythonScripts/netbuild/*.net.nml
/NeuroML2/pythonScripts/netbuild/*.xml
!/NeuroML2/pythonScripts/netbuild/netConnList




