Fortran*/*.o
*.*~
*.svg
umac
*.pyc
i686
x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
Syn_NMDA*
Syn_AMPA*
Syn_GABAA*
Syn_Elect*
neuroConstruct/pythonScripts/testFiles/nrntraub
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/batchdata
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/dat
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/_nrn_tests
.DS_Store
