/neuroConstruct/generatedNeuroML2/runsim.sh
Fortran*/*.o
*.*~
*.svg
umac
*.pyc
i686
x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
Syn_NMDA*
Syn_AMPA*
Syn_GABAA*
Syn_Elect*
neuroConstruct/pythonScripts/testFiles/nrntraub
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/batchdata
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/dat
neuroConstruct/pythonScripts/testFiles/nrntraub_rev/_nrn_tests
.DS_Store

neuroConstruct/generatedNeuroML2/LEMS_Test*
neuroConstruct/generatedNeuroML2/*.dat
neuroConstruct/generatedNeuroML2/html
